html,body {
    height: 100%;
    background-color: #f7f9fb;
    font-size: 14px;
    color: #212529;
}

.home .brand {
    margin: 40px auto;
}

.home .brand img {
    width: 100%;
    max-width: 214px;
    height: 79px;
    display: block;
    margin: 0 auto;
}

.home .card-wrapper {
    width: 400px;
}

.home .card {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.home .card.fat {
    padding: 10px;
}

.home .card .card-title {
    margin-bottom: 15px;
}

.home .form-control {
    border-width: 2.3px;
}

.home .form-group label {
    width: 100%;
}

.home .btn.btn-block {
    padding: 12px 10px;
    background: #0984e3;
    margin-top: .50rem;
    border-radius: .25rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: transparent;
}

.home .form-control {
    color: #212529;
}

.home .form-control:focus {
    color: #212529;
    border-color: #0984e3;
    outline: 0;
    box-shadow: none;
}

.home i {
    margin-right: 3px;
    font-size: 13px;
    margin-left: 3px;
}

.home a {
    color: #0984e3;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background: #0984e3;
    box-shadow: none;
}

.home .invalid-feedback {
    font-size: 100% !important;
}

@media screen and (max-width: 425px) {
    .home .card-wrapper {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .home .card.fat {
        padding: 0;
    }

    .home .card.fat .card-body {
        padding: 15px;
    }
}
